{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {# app.user pour récupérer les infos de la personne connectée #}
    <h1>Bienvenue {{ app.user.pseudo }} </h1>

{% endblock %}
